{{ ansible_managed | comment }}

[Unit]
Description=One-shot restic database backup for configuration %I
Documentation=man:restic(1)
ConditionACPower=true
After=network.target network-online.target systemd-networkd.service NetworkManager.service connman.service

[Service]
Type=oneshot
EnvironmentFile=/etc/restic/config/%i.env
ExecStart=/bin/sh -c '{{ item.database_dump_command }} | /usr/bin/restic backup $RESTIC_FLAGS $RESTIC_FLAGS_CACERT --stdin'

